/*Services*/
 
  .services {
    padding: 5px 0;
    background-color: #f7f7f7;
    display: flex;
    grid-gap: 10px;
    
  }
  
  .services .section_title h1{
    color: #222222;
    font-weight: 700;
    font-size: 40000px;
    margin: 10px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .services .section_title p{
    font-family: 'Sofia', serif;
    color: #777777;
    font-style: italic;
    font-size: 160px;
    text-align: center  ;
    
  }
  
  .services_boxs .ser{
    width: 32%;
    float: left;
    text-align: center;
    margin-top: 5px;
    margin-right: 1px;
    margin-bottom: 10%;
  
  }
  .services_boxs .ser .imag{
    font-size: 40px;
    color: #BC8F8F;
    border: 3px solid #05b993;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    line-height: 50px;
  }
  .services_boxs .ser .titleh1{
    font-family: 'sofia', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color:  #05b993;;
  }
  
  .services_boxs .ser .paragraph{
      font-family:'sofia', sans-serif;
      font-size:15px ;
      font-weight: 300;
      color: #000;
  }
  .titleh1 {
    text-transform: capitalize;
  }
  /*end*/

  /*about*/

    .about_page{
     background-color: #f7f7f7;
     width: 100%;
    }
    .abt-container{
      display:inline-block;
      margin-top: 50px;
      
    }
    .avatar {
      float:right;
      margin:30px ;
      width: 400px;
      height: 400px;
      border-radius: 50%;
      margin-bottom: 20px;
      transition: transform .5s ease;
    }

    .paragraph_abt{
      text-align: justify;
      font-family:'sofia';
    }

    /*.title_about{
     /* -webkit-animation:focus-in-contract .7s 
      cubic-bezier(.25,.46,.45,.94) both;
      animation:focus-in-contract .7s 
      cubic-bezier(.25,.46,.45,.94) both}
    }
    .title_about {
      animation: focus-in-contract 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      /*animation-iteration-count: infinite;
      
    }
    @keyframes focus-in-contract {
      0% {
        letter-spacing: 1em;
        filter: blur(12px);
        opacity: 0;
      }
      100% {
        filter: blur(0px);
        opacity: 1;
      }
    }
*/
  
    .avatar:hover  {
      transform: scale(1.1);
    }

    .title_about{
      font-family:'Sofia';
      position: initial;
      font-size: 10px;
    }

  /*end*/

  #title_page{
    text-align: center;
    background-color: #2b2424;
    border-radius:92% 0 92% 0 ;
    text-transform: capitalize;
    padding: 20px;
  }

  #title_page>span{
    color: white;
  }
  .title_page{
    width: 50%;
    align-items: center;
    margin: 0 auto;
  }

  